# OS
Thumbs.db
.DS_Store

# Solution
obj
bin
*.userprefs
*.user
test-results

# IDEs
packages
.vs
.vscode
.idea
**/Assets/Plugin/Editor/JetBrains
**/Assets/Plugin/Editor/JetBrains.meta

# Unity
Library
Temp
*.unitypackage
Assembly-CSharp*.csproj

# Jenny
Jenny
Jenny-Server
Jenny-Server.bat
*.userproperties

# Project
ProjectX.sln